*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

$main-color-light-green: #00730C;


body {
  font-family: 'Nunito', sans-serif;
 font-weight: 400;
}

body.scroll-lock {
  overflow: hidden;
}
.container {
  padding: 0 15px;
  margin: auto;
  max-width: 480px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 11;
  .header-top-wrapper {
    padding: 17px 0;
    background: #0C4B35;
  }

 
  .header-top-content {
  display: flex;
  gap: 30px;
  
  div > span {
    display: none;
  }

  div:last-child {
    margin-left: auto;
    display: flex;
    align-items: center;
    color: white;
    padding-right: 17px;
    background: url(img/arrow\ down.svg) right no-repeat;
  }
  }
  
.header-bottom-wrapper {
background: #fff;
}
  .header-bottom-content {
    padding: 15px 0;
    display: flex;


 
    .logo {
      margin-right: auto;
      }
    .header-nav {
      display: none;
    }
  }
  .mobile-burger {
    display: flex;
    gap: 40px;
    align-items: center;
   
    .burger-button {
      background: none;
      display: flex;
      align-items: center;
    }
  }
  
}
.flower-bg {
  position: absolute;
  bottom: -30px;
  left: 0px;
  }
main {
  padding-top: 129px;
}
.main-page {
  padding-bottom: 35px;
  background: linear-gradient(39.89deg, rgba(0, 115, 12, 0.81) -22.86%, rgba(251, 246, 238, 0) 116.18%);

  .main-page-img {
    margin: 0 -15px;
    margin-top: -15px;
    margin-bottom: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.main-page-content {
  font-family: 'Nunito';
font-style: normal;
position: relative;

h1 {
  padding-left: 29px;
  background: url(img/green-little-plant.svg) left no-repeat;
font-weight: 700;
font-size: 14px;
line-height: 19px;
margin-bottom: 10px;
}
h2 {
  font-weight: 700;
font-size: 28px;
line-height: 38px;
margin-bottom: 15px;
span {
  color: #00730C;

}
}

p {
  font-weight: 400;
font-size: 14px;
line-height: 22px;
margin-bottom: 40px;
}
/* div {
  display: flex;
  flex-direction: column;
  gap: 19px;
  justify-content: center;
} */

div > button {
  display: block;
  background: #00730C;
border-radius: 5px;
padding: 12px 105px;
font-weight: 700;
font-size: 16px;
line-height: 20px;
text-transform: capitalize;
color: #FFFFFF;
margin-bottom: 19px;
}
.button { 
  display: flex;
  flex-direction: column;
align-items: center;
  margin-bottom: 40px;
  a {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #00730C;
  
}
}
.main-page-bottom-measures {
  display: flex;
  flex-direction: row;
  gap: 11px;
justify-content: flex-end;
div:last-child {
  display: none;
}
div {
  display: flex;
 flex-direction: row;
 background: linear-gradient(180deg, #FFF8F1 0%, #CBE5CE 100%);
border-radius: 32px;
padding: 8px 10px;
span {
  margin-right: 8px;
}
}
}

}


.main-page-bottom-measures {
  font-weight: 400;
font-size: 10px;
line-height: 14px;
}
.second-page {
  margin-top: 50px;
}
.second-page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 38px;
text-align: center;
margin-bottom: 15px;
span {
  color: #00730C;
}
  }
  article {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #676767;
text-align: center;
margin-bottom: 30px;
  }
.second-page-items {
display: flex;
flex-direction: column;
flex-wrap: wrap;
gap: 20px;

> li {
gap: 20px;
  width: 100%;
  padding: 20px;
  background: url(img/second-page-item-bg.svg) left no-repeat, linear-gradient(172.29deg, #FFFFFF -10.79%, #FFFFFF 94.04%);
  box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
  border-radius: 10px;;
  font-family: 'Nunito';
  font-style: normal;
  display: flex;
div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  h4 {
    font-weight: 700;
font-size: 16px;
line-height: 22px;
text-align: center;
text-transform: capitalize;
color: #212529;
  }
  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px; color: #676767;
    
  }
}
}
}
}

.third-page {
}
.third-page-content {
  position: relative;
  margin-top: 100px;
  padding-bottom: 50px;
display: flex;
flex-direction: column;
gap: 30px;
> img {
  position: absolute;
  top: 50px;
  
  left: -345px;
}
.icons-block {
  div {
    box-shadow: none;
  }
}

.text-wrapper {
  font-family: 'Nunito';
font-style: normal;
  h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 15px;
    span {
      color: #00730C;

    }
  }

  p {color: #676767;
    font-weight: 400;
font-size: 14px;
line-height: 22px;
  }
  >p:nth-child(2) {
    margin-bottom: 30px;
  }
  a {
   display: block;
   width: fit-content;
    margin: auto;
    background: #00730C;
border-radius: 5px;
align-items: center;
padding: 10px 30px;font-weight: 700;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */

text-transform: capitalize;

/* Typography/Font White Color */

color: #FFFFFF;

  }
}

}
.image-wrapper {
  margin: auto;
  position: relative;
  padding-right: 42px;
  padding-bottom: 92px;
  div {
    position: absolute;
    top: 0;
    left: 0;
width: 188px;
height: 293px;
background: #00730C;
z-index: 0;
  }
  .big-img img{
    position: relative;
    margin-top: 12px;
    margin-left: 12px;
    z-index: 1;
  }
  .small-img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
  }

}


.icons-block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
gap: 20px;
margin-bottom: 30px;
  div {
    flex-basis: calc(50% - 10px);
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
   padding: 15px;
   background: #FFFFFF;
box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
border-radius: 5px;
  }

}
.why-choose-us {
background: #0C4B35;
overflow: hidden;
}
.why-choose-us-content {
  position: relative;
  padding: 50px 0;
  .text-wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Nunito';
  font-style: normal;
    color: #fff;
  h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 15px;
  }
  p {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 40px;
  }
  a {
    display: block;
    color: #fff;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  padding: 10px 30px;
  background: #00730C;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  }
  }

}
.bg-flower-left {
  position: absolute;
  top: 50px;
  left: -220px;
  z-index: 0;
}
.bg-flower-right {
  position: absolute;
  top: -100px;
  right: -150px;
  z-index: 0;
}
.img-wrapper {
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.icons-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 29px;
  margin-bottom: 30px;
  li {
    flex-basis: calc(50% - 14.5px);
  
    font-weight: 700;
font-size: 16px;
line-height: 22px;
margin-bottom: -9px;
display: flex;
align-items: center;
justify-content: center;
span {
 padding-left: 30px;
 background: url(img/why-choose-us-check-icon.svg) -8px -6px no-repeat;
}
  }
}
.mobile-burger-wrapper.active {
  opacity: 1;
  visibility: visible;
}
.mobile-burger-wrapper {
 opacity: 0;
visibility: hidden; 
transition: all ease 0.5s;
  position: fixed;
  z-index: 10;
  background: #0C4B35;
  left: 0;
  right: 0;
  bottom: 0;
  top: 125px;
}
.mobile-burger-content {
height: 100%;
  font-family: 'Nunito';
  font-style: normal;
  padding: 25px 15px 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
overflow: auto;
 > nav {
  >  ul {
   
    nav {
      overflow: hidden;
      max-height: 0;
      transition: max-height ease-in-out 0.3s;
      ul {
        li{
          a {
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: #FFFFFF;
            opacity: 0.7;
          }
        }
      }
    }
   >   li {
   
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;

opacity: 0.7;

        padding-top: 15px;
        padding-bottom: 8px;
        border-top: 1px solid gray;
        span {
        padding-right: 20px;
        background: url(img/arrow\ down\ gray\ burger.svg) right no-repeat;
        }
        a {
    color: #FFFFFF;
opacity: 0.7; 
}
      }
    }
  }
}

.burger-footer {
  .icons {
    margin-bottom: 23px;
        display: flex;
        justify-content: center;
    gap: 20px;
  }
p {
padding: 0 53px;
margin: auto;
font-size: 10px;
line-height: 14px;
text-align: center;
color: #FFFFFF;
}
}

.working-process-content {
  padding: 50px 0px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  h2 {
    text-align: center;
    font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 38px;
span {
  color: $main-color-light-green
}
margin-bottom: 15px;
  }
  >p {
    font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
text-align: center;
color: #676767;
margin-bottom: 30px;
  }
  .items-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;


    .item {
      background: url(img/working-process-item-flower-bg-s.svg) no-repeat right;
      flex-basis: 100%;
      padding: 20px;
box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
border-radius: 10px;
      .top-content {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        div {
          font-family: 'Nunito';
font-style: normal;
font-weight: 800;
font-size: 45px;
line-height: 61px;
display: flex;
align-items: center;
color: #E3E3E3;
        }
      }

      h3 {
        font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
text-transform: capitalize;
color: #212529;
      }
p {
  font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
color: #676767;

}


    }
  }
  footer {
    padding: 50px 35px;
    background: url(img/working-process-footer-img-bg-s.png) center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      font-family: 'Nunito';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 27px;
      text-align: center;
      color: #FFFFFF;
      margin-bottom: 30px;
    }
    button {
      background: #FFFFFF;
      box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
      border-radius: 5px;
      padding: 10px 30px;
      span {
        font-size: 14px;
line-height: 19px;
color: #00730C;
padding-left: 30px;
background: url(img/working-process-tel-icon-green.svg) left no-repeat;
      }
    }
  }
}


.staff-content {
  font-family: 'Nunito';
font-style: normal;
text-align: center;
padding-bottom: 50px;
h2 {
  font-weight: 700;
font-size: 28px;
line-height: 38px;

margin-bottom: 15px;
span {
  color: $main-color-light-green;
}
}
>.text-wrapper {
  margin-bottom: 40px;
  p {
    font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 30px;
  }
  button {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    background: #00730C;
border-radius: 5px;
color: #fff;
font-weight: 700;
font-size: 16px;
line-height: 20px;
  }
}
.slider-wrapper {
  .slider-line {
  
    .slide {
      position: relative;
      overflow: hidden;
      border-radius: 10px;
      img {
        width: 100%;
        border-radius: 10px;
      }
    
      .translate {
        background: linear-gradient(6.68deg, #00730C 4.95%, rgba(251, 246, 238, 0) 264.79%);
border-radius: 10px;
        position: absolute;
        padding-top: 3%;
        top: 81%;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: flex-start;
        transition: all ease 0.4s;
        h4 {
          display: flex;
          flex-direction: column;
          font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 33px;
text-transform: capitalize;
color: #FFFFFF;
span {
  font-size: 18px;
line-height: 30px;
}
        }
        .worker-social-links {
          display: flex;

          .item {
            width: 30px;
            height: 30px;
            background: url(img/linkedin-icon.svg) center no-repeat;
            a {
              display: block;
              width: 100%;
              height: 100%;
            }
          }
         /*  .google {
          }
          .facebook {
          }
          .twitter {
          }
          .pinterest {
          }
          .linkedin {
          } */
        }
      
      }
      .translate.open {
        top: 0px;
        padding-top: 50%;
      }
    }
  }
}
.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  position: relative;
  bottom: 0px;
  margin-top: 30px;
  .swiper-pagination-bullet {
  
width: 20px;
height: 6px;
background: #00730C;
border-radius: 8px;
&.swiper-pagination-bullet-active {
  width: 50px;
}
  }
}
}




.testimonials {
  margin-bottom: 150px;
  background: #E6F6EA;
  box-shadow: inset 77.4px -77.4px 77.4px rgba(175, 187, 178, 0.099), inset -77.4px 77.4px 77.4px rgba(255, 255, 255, 0.099);
  backdrop-filter: blur(36.378px);
}

.testimonials-content {
  padding-top: 50px;
  font-family: 'Nunito';
font-style: normal;
  .top-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
  h2 {
    font-weight: 700;
font-size: 28px;
line-height: 38px;
color: #000000;
span {
  color: $main-color-light-green;
}
  }
  p {
    font-weight: 400;
font-size: 14px;
line-height: 22px;
text-align: center;
color: #676767;
  }
  >div {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .testimonials-swiper-navigation {
align-self: center;
display: flex;
position: relative;
gap: 40px;
.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 15px;
  border: 1px solid #00730C;
border-radius: 5px;
padding: 7px 12px;
background-color: #00730C;
}  
.swiper-button-next, .swiper-button-prev {
  position: relative;
  color: white;
}
.swiper-button-prev {
  &.swiper-button-disabled {
    opacity: 1;
    &:after {
      color: #00730C;
      background: transparent;
    }
  }
}
.swiper-button-next {
  &.swiper-button-disabled {
    opacity: 1;
    &:after {
      color: #00730C;
      background: transparent;
    }
  }
}
    }
  }
  }
  .slider-wrapper {
    margin-top: -99px;
    position: relative;
    top: 99px;
    box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
    .slide {
      background: #fff;
      width: 100%;
      padding: 20px;
      box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
      .img-wrapper {
        position: relative;
        margin-bottom: 30px;
        display: block;
        .img {
          position: relative;
          z-index: 1;
          img {
            position: relative;
            z-index: 1;
          }
          .background {
            position: absolute;
            bottom: 0;
            left: 0;
            // transform: translateX(-50%);
            z-index: 0;
            width: 135px;
            height: 127px;
            background: linear-gradient(6.68deg, #00730C 4.95%, rgba(251, 246, 238, 0) 264.79%);
  border-radius: 30px;
          }
        }
        
      }
      .text {
        padding-top: 14px;
        background: url(img/testimonials-item-bg.svg) no-repeat ;
        p {
          font-weight: 400;
font-size: 14px;
line-height: 22px;
color: #676767;
margin-bottom: 15px;
        }
        >div {
display: flex;
align-items: center;
justify-content: space-between;
          .client-name {
            font-weight: 700;
font-size: 16px;
line-height: 22px;
text-transform: capitalize;
color: #212529;
span {
  font-weight: 400;
font-size: 12px;
line-height: 16px;
color: #676767;

}
          }
          .stars {
            display: flex;
            gap: 7px;
            div {
              width: 17px;
              height: 17px;
              clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
              background: $main-color-light-green;
            }
          }
        }
      }
    }
  }
}




.faq-content {
  font-family: 'Nunito';
  font-style: normal;
  text-align: center;
  h2 {
font-weight: 700;
font-size: 28px;
line-height: 38px;
margin-bottom: 15px;
color: #212529;
span {
  color: $main-color-light-green
}
  }
p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #676767;
 
}
.accordeon-wrapper {
  margin-top: 40px;
ul {
  display: flex;
  flex-direction: column;
  gap: 20px;

}
  .clicked {
    display: block;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #FFF8F1;
border-radius: 3px;
    padding: 12px 16px;
    .open-close {
      display: block;
      position: relative;
    }
    .open-close::before {
content: '';
display: block;
position: absolute;
top: 5px;
width: 2px;
height: 10px;
transform: rotate(0deg);
background: #000;
    }
    .open-close::after {
      display: block;
content: '';
position: absolute;
top: 5px;
width: 2px;
height: 10px;
transform: rotate(90deg);
background: #000;
    }
  }
  .clicked.active {
    background: $main-color-light-green;
    color: white;
    .open-close::before {
      width: 0;
   
  }
    .open-close::after {
      background: white;
   
  }

  +p {
    margin-top: 20px;
  }

  
}
  p {

    text-align: left;
    max-height: 0;
    overflow: hidden;
    transition: all ease 0.5s;
  }
}
}
.artickles {
margin-top: 50px;
}
.artickles-content {
  position: relative;
  padding-bottom: 30px;
  font-family: 'Nunito';
  font-style: normal;
h2 {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  margin-bottom: 20px;
  span {
    color: $main-color-light-green;
  }
}
p {
font-weight: 400;
font-size: 14px;
line-height: 22px;
text-align: center;
color: #676767;
margin-bottom: 40px;
}
.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  position: relative;
  bottom: 0px;
  margin-top: 30px;
  .swiper-pagination-bullet {
  
width: 20px;
height: 6px;
background: #00730C;
border-radius: 8px;
&.swiper-pagination-bullet-active {
  width: 50px;
}
  }
}
}

.artickles-slider {
  box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
}

.artickles-slide.background-image {
background: url(img/artickles-slider-bg-img.png) no-repeat;
background-size: cover;
}
.artickles-slide.background-image > p,
.artickles-slide.background-image > h4,
.artickles-slide.background-image > .slide-footer,
.artickles-slide.background-image > .slide-footer > .creator
 {
  color: white;
}
.artickles-slide {
  padding: 30px 20px;
  font-family: 'Nunito';
  font-style: normal;
  background: url(img/artickles-slide-bg.png) no-repeat top right;
  h3 {
width: fit-content;
font-weight: 600;
font-size: 18px;
line-height: 30px;
text-align: center;
color: #00730C;
background: #D9F1E0;
box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.15);
padding: 0 26px;
margin-bottom: 40px;
  }

  h4{
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;      
    color: #00730C;
    padding-right: 70px;
    margin-bottom: 15px;
  }
 p {
  text-align: left;
  font-weight: 400;
font-size: 14px;
line-height: 22px;
color: #676767;
 }
  .slide-footer {
 
   display: flex;
   flex-direction:  row;
   justify-content: space-between;
   padding: 10px 0;
   border-top: 1px solid #E3E3E3;
   color: #676767;
   font-family: 'Nunito';
      font-style: normal;
    .date {
      font-weight: 700;
      font-size: 14px;
      line-height: 19px;    
    }
    .creator {
      font-weight: 400;
font-size: 14px;
line-height: 22px;
color: #676767;
padding-left: 30px;
background: url(img/admin-icon.svg) left no-repeat;
    }
  }
}
.photos-line {
margin-top: 50px;
}
.photos-line-content {
  padding-bottom: 100px;
}
.photos-line-slider {
  margin-bottom: -40px;

}
.photos-line-wrapper {
  .swiper-slide {
    img {
      display: block;
      margin: auto;
    }
  }
}
.photos-line-text {
  background: #D9F1E0;
border-radius: 5px;
  position: relative;
  top: 90px;
  padding: 30px 50px;
display: flex;
flex-direction: column;
gap: 25px;
  p {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #212529;
    span {
      color: $main-color-light-green;
    }
  }
  button {
    background: #00730C;
    border-radius: 5px;
    padding: 10px 30px;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
text-transform: capitalize;
color: #FFFFFF;
  }
}

 
@media (min-width: 640px) {
  .container {
    max-width: 610px;
  }
 
.second-page-content {

.second-page-items {
  flex-direction: row;
  gap: 40px;
 
  > li {
    width: calc(50% - 20px);
    flex-direction: column;
align-items: center;
div {
  align-items: center;
  text-align: center;
}
  }
}

}

}

@media (min-width: 1024px) {
  .flower-bg {
    bottom: 0px;
   left: -227px;
    }
  .container {
    max-width: 990px;
  }
  .header {
    .header-top-content { 
      font-family: 'Poppins', sans-serif;
    }
    .header-top-content > div > span {
      display: inline;

    }
    .header-top-content > div {
      color: white;
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .header-bottom-content {
      font-weight: 700;
      .header-nav {
        display: flex;
        gap: 50px;
        align-items: center;
        ul {
          display: flex;
          gap: 44px;
          align-items: center;
        }
        ul > li > a{
          color: #212529;
          font-size: 16px;
          padding-right: 17px;
          background: url(img/arrow\ down\ black.svg) right no-repeat;
        }
        
        .header-call-us button{
          display: flex;
          align-items: center;
          gap: 5px;
          background: $main-color-light-green;
          padding: 7px 24.5px;
          color: white;
          font-size: 17px;
        }

      }
   
      .mobile-burger {
        display: none;
      }
    
    
    }

  }

.main-page{
  overflow: hidden;
padding-bottom: 0;
}
.main {
  .main-page-img {
    margin: 0;
  }
  .main-page-img img{
width: 130%;
position: relative;
// right: -200px;

  }
}
  .main-page-content {
    display: flex;
flex-direction: row-reverse;
padding-top: 46px;
align-items: center;



.main-page-text {
  padding-right: 100px
}


 h1 {
  font-size: 16px;
line-height: 20px;
} 
p {
  font-size: 16px;
line-height: 23px;
color: #676767;
}
h2 {
   font-weight: 800;
font-size: 38px;
line-height: 39px; 
}
.button {
  button {
    margin-bottom: 0;
    font-weight: 700;
font-size: 16px;
padding: 10px 30px;
  }
  a {
    font-size: 18px;
line-height: 30px;
color: #676767;
padding-right: 35px;
background: url(img/arrow-gray-right.svg) right no-repeat;
  }
  flex-direction: row;
  justify-content: flex-start;
  gap: 30px;
  align-items: center;
}
.main-page-bottom-measures {
  justify-content: flex-start;
  padding-right: 135px;
  gap: 0;
  div {
    padding: 0;
    background: none;
    align-items: center;
    font-weight: 700;
 font-size: 16px;
 line-height: 20px;
  span {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
 height: 50px;
    background: linear-gradient(72.71deg, #00730C -83.5%, #F9F9F9 93.84%);
 border-radius: 35px;
 font-size: 15px;
  }
  }

  div:last-child {
    display: flex;
  }
 }
  }
  .main-page-content > div {
   width: 50%;

  }


.second-page-content{
.second-page-items {
  > li {
    width: calc(25% - 30px);
    background-position: top;
    padding: 60px 43px;
    gap: 50px;
    div {
      gap: 10px;
    }
  }
}
}

.third-page-content {
  flex-direction: row;
  .text-wrapper {
    h3 {
      font-size: 38px;
  line-height: 41px;
  margin-bottom: 30px;
    }
    p {
      font-size: 14px;
  line-height: 24px;
    }
    a {
      margin: unset;
      padding: 13px 35px;
      font-size: 18px;
  line-height: 24px;
    }
  }
}

.icons-block {
  margin-top: 50px;
div {
  flex-direction: row;
  gap: 30px;
}
}
.why-choose-us-content {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  .img-wrapper {
    margin-bottom: 0;
    img {
      width: 542px;
      height: 350px;
    }
  }
.bg-flower-left {
 top: 100px;
 left: -620px;
}  
.bg-flower-right {
  top: -180px;
  right: -680px;
}
.text-wrapper {
  align-items: flex-start;
}
.icons-wrapper {
  li {
    justify-content: flex-start;
  }
}
}
.working-process-content {
  padding: 100px 0px;
  p {
    padding: 0px 40px;
  }
  .items-wrapper {
    flex-direction: row;
    gap: 30px;
margin-bottom: 50px;
    .item {
flex-basis: calc(25%);
padding: 50px 30px 70px 30px;
p {
  padding: 0;
}
    }
  }
  footer {
    padding-right: 60px;
    background: url(img/working-process-footer-img-bg-l.png) center no-repeat;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
    p {
      text-align-last: left;
      margin-bottom: 0;
    }
  }
}
.slider-wrapper {
  .slider-line {
display: flex;
gap: 30px;

  }
}

.staff-content {
  padding-bottom: 100px;
  h2 {
    text-align: left;
  }
  >.text-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 100px;
    text-align: left;
    p {
      font-size: 18px;
line-height: 30px;
      margin-bottom: 0;
    }
    button {
      flex-shrink: 0;
      margin: 0;
    }
  }
.slider-wrapper {
  .slider-line {
    .slide {
      .translate {
        h4 {
font-size: 20px;
line-height: 23px;
          span {
            font-size: 15px;
            line-height: 15px;
          }
        }
      }
      
    }
  }
}
}

.testimonials-content {
  padding-top: 100px;
.top-content {
  margin-bottom: 50px;
p {
  text-align: left;
  padding-right: 200px;
}
div {
flex-direction: row;
align-items: flex-end;
.testimonials-swiper-navigation {
  gap: 60px;
  .swiper-button-prev, .swiper-button-next {
    height: auto;
  }
  .swiper-button-prev::after, .swiper-button-next:after {
    position: absolute;
    top: -15px;
    font-size: 20px;
    padding: 10px 15px;
  }
}
}
}
.slider-wrapper {
  .slider-line {
    gap: 0;
  }
  margin-top: -57px;
  top: 57px;
  .slide {
    display: flex;
    width: 50%;
    padding: 32px 25px;
    flex-direction: row;
    gap: 20px;
    .text {
      margin-top: 6px;
      padding-top: 25px;
      background: url(img/testimonials-item-bg-l.svg) no-repeat;
    }
    .img-wrapper {
      .img {
        .background {
          width: 193px;
          height: 181px;
        }
      }
    }
  }
}
}


.faq-content {
  background: url(img/FAQ-img.png) no-repeat right;
  padding-bottom: 100px;
  background-size: 340px;
  padding-right: 350px;
  h2 {
    text-align: left;
    br {
      display: none;
    }
  }
  >p {
    text-align: left;
    padding-right: 00px;
  }
}

.artickles-content {

  .artickles-slide {
  box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08)

  }
  h2 {
  font-size: 35px;
}

p {
  font-size: 18px;
  line-height: 30px;
}
 }
 .photos-line-text {
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 20px 50px;  

p {
  font-size: 30px;
}
}




}


@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
  .header {
    .header-bottom-content {
    .header-nav {
      gap: 101px;
      .header-call-us {
        button{
          gap: 10px;
          padding: 10px 34.5px;
          font-size: 18px;
        }
      
    }
  }
  }
  }
 .main-page-content {
.main-page-bottom-measures {
  gap: 15px;
}
  h2{
    font-size: 40px;
    line-height: 50px;
  };
  p{
    font-size: 16px;
  line-height: 25px;
  }
  .button {
    button, a{
font-size: 16px;
padding: 10px 30px;

    }
  }
  }
  .why-choose-us-content {

  
  .text-wrapper {
    h3 {
      font-size: 45px;
line-height: 51px;
    }
    p {
      font-size: 16px;
  line-height: 28px;
    }
    a {
      margin: unset;
      padding: 13px 35px;
      font-size: 18px;
  line-height: 24px;
    }
  }
}
.working-process-content {
h2 {
  font-size: 45px;
}
p {
  font-size: 18px;
  line-height: 30px;
}
.items-wrapper {
  .item {
    h3 {
      font-size: 24px;
      line-height: 32px;
    }
    p {
      font-size: 18px;
      line-height: 30px;
    }
    .top-content {
      div {
        font-size: 78px;
      }
    }
  }
}
footer {
  p {
    font-size: 33px;
    line-height: 45px;
  }
  button {
    padding: 10px 35px;
    span {
      font-size: 18px;
      line-height: 24px;
    }
  }
}
}

.staff-content {
  
    >.text-wrapper {
      gap: 200px;
    }
  .slider-wrapper {
    .slider-line {
      .slide {
        .translate {
          h4 {
  font-size: 22px;
  line-height: 30px;
            span {
              font-size: 16px;
              line-height: 17px;
            }
          }
        }
        
      }
    }
  }
  }
}

@media (min-width: 1600px) {
  .container {
   max-width: 1440px;
  }
 
  .main-page-content {
  
 h1 {
  font-size: 16px;
line-height: 20px;
} 
p {
  font-size: 18px;
line-height: 30px;
color: #676767;
}
h2 {
   font-weight: 800;
font-size: 58px;
line-height: 79px; 
}
.button {
  button {

font-size: 18px;
line-height: 24px;
padding: 13px 35px;
  }
  a {
    font-size: 18px;
line-height: 30px;

  }
  }
}

.second-page {
  margin-top: 100px;
}
.second-page-content {
  h3 {
    font-size: 45px;
line-height: 61px;
  }
  article {
    font-size: 18px;
line-height: 30px;
padding: 0 125px;
  }
}
.second-page-content {

  .second-page-items {
    >div {
      div {
        h4 {
          font-size: 24px;
          line-height: 33px;
        }
        p {
          font-size: 16px;
          line-height: 28px;
        }
      }
    }
  }

}


.why-choose-us-content {
  .text-wrapper {
    font-family: 'Nunito';
font-style: normal;
    h3 {
      font-weight: 700;
      font-size: 45px;
      line-height: 61px;
    }
    p {
      font-weight: 400;
font-size: 18px;
line-height: 30px;
color: #FFFFFF;
    }
    a {
      padding: 13px 35px;

    }
    .icons-wrapper {
      li {
font-size: 24px;
line-height: 33px;
      }
    }
  }
}

.why-choose-us-content {
  .img-wrapper {
    img {
      width: unset;
      height: unset;
    }
  }
}
.staff-content {
  >.text-wrapper {
    gap: 260px;
    button {
      padding: 13px 35px;
      font-size: 18px;
    }
  }
  .slider-wrapper {
    .slider-line {
      .slide {
        .translate {
          h4 {
            font-size: 24px;
            line-height: 33px;
            span {
              font-size: 18px;
line-height: 30px;
            }
          }
        }
        
      }
    }
  }
  }

  .testimonials-content {
    .top-content {
      h2 {
        font-weight: 800;
font-size: 45px;
line-height: 61px;
      }
      p {
        padding-right: 400px;
        font-size: 18px;
line-height: 30px;
      }
    }
    .slider-wrapper {
      .slide {
        gap: 30px;
        .text {
          p {
            font-size: 18px;
line-height: 30px;
          }
          >div {
            .client-name {
              font-size: 24px;
line-height: 33px;
span {
  font-size: 14px;
line-height: 25px;
}
            }
          }
        }
      }
    }
  }


  .faq-content {
    padding-right: 600px;
    background-size: unset;
  h2 {
    font-size: 45px;
line-height: 61px;
  }
  p {
    font-size: 18px;
line-height: 30px;
  }
  .accordeon-wrapper {
    .clicked {
      padding: 15px 30px;
      font-weight: 700;
      font-size: 24px;
line-height: 33px;

  .open-close::before,.open-close::after {
    width: 3px;
    height: 15px;
  
}
    }
  }
  }

  .artickles-content {
    .artickles-slide {
      padding: 100px 30px 20px 30px;

h3 {
  margin-bottom: 75px;
  padding: 3px 20px;
}
h4 {
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 33px;
  padding-right: 0;
}
      .slide-footer {
        margin: 0 -30px;
        padding: 10px 30px;
      }
    }
    h2 {
    font-size: 45px;
  }
  
  >p {
    padding: 0px 140px;
  }
   }
   .photos-line-text {
    padding: 30px 100px;

    p {
      font-size: 45px;
    }
   }
}